.texto-menor {
    font-size: 13px;
}

.div-facilidades {
    width: 325px;
}

.text-primaria {
    color: whitesmoke;
}

.bg-lilas {
    background-color: #9353FF;
}

.text-am {
    color: #DAFF01;
}

.posicao{
    top: 40%;
}

@media(max-width: 767px){
    .posicao{
        top:60%;
    }
}